RoutingWithBikesHost/RoutingWithBikesHost/Connected Services/WebProxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/WebProxyService/ProxyCacheService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebProxyService.ReferenceObjects" />
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebProxyService.ReferenceObjects" minOccurs="0" name="GetStationsResult" nillable="true" type="q1:ArrayOfStaticStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
        <xs:element minOccurs="0" name="ville" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebProxyService.ReferenceObjects" minOccurs="0" name="GetOneStationResult" nillable="true" type="q2:DynamicStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebProxyService.ReferenceObjects" minOccurs="0" name="GetCitiesResult" nillable="true" type="q3:ArrayOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>