RoutingWithBikesHost/RoutingWithBikesHost/Connected Services/WebProxy/ProxyCacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProxyCacheService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/WebProxyService/ProxyCacheService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/WebProxyService/ProxyCacheService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/WebProxyService/ProxyCacheService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebProxyService.ReferenceObjects" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/WebProxyService/ProxyCacheService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxyCacheService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheService_GetOneStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneStation" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheService_GetOneStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneStationResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheService_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheService_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxyCacheService">
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCacheService/GetStations" message="tns:IProxyCacheService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCacheService/GetStationsResponse" message="tns:IProxyCacheService_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCacheService/GetOneStation" message="tns:IProxyCacheService_GetOneStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCacheService/GetOneStationResponse" message="tns:IProxyCacheService_GetOneStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCacheService/GetCities" message="tns:IProxyCacheService_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCacheService/GetCitiesResponse" message="tns:IProxyCacheService_GetCities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxyCacheService" type="tns:IProxyCacheService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IProxyCacheService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneStation">
      <soap:operation soapAction="http://tempuri.org/IProxyCacheService/GetOneStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/IProxyCacheService/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyCacheService">
    <wsdl:port name="BasicHttpBinding_IProxyCacheService" binding="tns:BasicHttpBinding_IProxyCacheService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/WebProxyService/ProxyCacheService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>